* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;   
    text-rendering: optimizeLegibility; 
}
.row {
    max-width: 1140px;
    margin:0 auto;
}   

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) ), url(img/hero.jpg );
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

h1{
    margin: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 240%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.btn{ 
    display: inline-block;
    font-weight: 300;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: 0.2s;
}

.btn:hover{
    background-color: #cf6d17;
}


.btn-full{
    background-color:#e67e22; 
    border: #e67e22 1px solid;
    color: #fff;
    margin-right: 15px;
}

.btn-full:hover{
    border:1px solid #cf6d17;
}

.btn-ghost{
    border: #e67e22 1px solid;
    color: #e67e22;
}

.btn-ghost:hover{
    border: #e67e22 1px solid;
    color: #fff;
}